@media (max-width: 1000px) {
    body{
        width: 100%;
        overflow-x: hidden;
    }

    /* HEADER */
    .search-wrapper {
        display: none;
    }
    .mobile-search-wrapper {
        display: block;
    }
    .header-search-input {
        width: 100%;
        border-radius: 0;
        height: 50px;
    }
    .header-contact-us {
        display: none;
    }
    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 80px;
    }
    .logo {
        width: 150px;
    }
    .header-cart-button {
        width: 70px;
    }
    
    /* MAIN/PLACEHOLDERS */

    main {
        margin-top: 50px;
    }

        /* swiper */
        .wide-banner {
            display: none;
        }
        .mobile-banner {
            display: block;
            object-fit: cover;
        }

        /* navegação por categorias */
        .categories {
            justify-content: start;
            padding: 30px;
            overflow-x: auto;
            overflow-x: scroll; /* Permite rolar horizontalmente */
            overflow-y: hidden; /* Esconde o conteúdo que excede verticalmente */
            white-space: nowrap;
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none;
            gap: 80px;
        }

        .category-navigation{
            margin: 0 10px;
        }

        .category img {
            width: 160px;
            height: 160px;
        }

        .category:hover img{
            margin: 0 0 0 0;
            outline: 2px solid rgb(var(--identity-purple));
        }

        /* galeria */

        .gallery {
            margin-left: -75px;
        }

        .image-container img {
            max-width: 270px;
            width: 270px;
        }


        /* Primeira imagem da segunda coluna */
        .gallery-column:nth-of-type(2) {
            display: none;
        }

        /* Primeira imagem da terceira coluna */
        .gallery-column:nth-of-type(3) {
            display: none;
        }

        /* Primeira imagem da quarta coluna */
        .gallery-column:nth-of-type(4) {
            display: none;
        }




        /* FEATURED PRODUCTS */
        .product-grid {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .product-card:nth-child(n+4) {
            display: none; /* Oculta produtos a partir do quarto */
        }

        .add-to-cart {
            padding: 10px 16px; 
        }



        /* FOOTER */
        .footer{
            width: 100%;
        }
        .footer-container {
            display: block;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            max-width: 87%;
            text-wrap: wrap;
            flex-wrap: wrap;
        }
        .footer-section {
            text-wrap: wrap;
            flex-wrap: wrap;
            margin-top: 20px;
            width: 100%;
            max-width: 100%;
        }

}