@import url(./main.css);

body {
    background-color: #fbfbf8;
    overflow-x: hidden;
}

/* HEADER */

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(var(--identity-green));
    transition: top 0.3s ease-in-out;
    z-index: 1000;
}
/* estilizaçoes do header em sí */
.header-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    max-height: 90px;
}

    /* estilizações da logo */

    .logo {
        width: 185px;
        height: auto;
        max-height: 80px;
        min-width: 100px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .logo a img {
        fill: #ffffff;
    }

    /* estilizações da barra de search */

    .mobile-search-wrapper{
        display: none;
    }

    .group {
        display: flex;
        line-height: 5px;
        align-items: center;
        position: relative;
        margin-right: 0px;
    }

    .header-search-input {
        width: 70vh;
        height: 65px;
        line-height: 28px;
        padding: 0 3rem;
        padding-left: 2.5rem;
        border: 2px solid transparent;
        border-radius: 4px;
        outline: none;
        background-color: #f3f3f4;
        color: rgb(13, 14, 33);
        transition: 0.2s ease;
        
    }

    .header-search-input::placeholder {
        color: #737373;
        font-size: 17px;
    }

    .header-search-input:focus,
    .header-search-input:hover {
        outline: none;
        border-color: rgba(var(--identity-purple), 0.8);
        background-color: #fff;
        box-shadow: 0 0 0 4px rgb(var(--identity-purple), 0.4);
    }

    .search-icon-svg {
        position: absolute;
        left: 1rem;
        fill: black;
        width: 1rem;
        height: 1rem;
    }



    /* estilizações das opçoes */
    .options-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;
    }

        /* estilizaçoes do botão de atendimento */

        .header-contact-us-button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 15px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            width: 25vh;
        }

        .header-contact-us-button-icon {
            margin-right: 4px;
            max-height: 38px;
            min-height: 20px;
        }

        .header-contact-us-button-text {
            text-align:start;
            color: white;
            font-size: 17px;
            font-family: Lexand, Arial, Helvetica, sans-serif;
        }

        .header-contact-us-button-text {
            transition: 0.3s ease;
        }

        .header-contact-us-button-icon-svg {
            transition: 0.3s ease;
        }

        .header-contact-us-button-icon-svg {
            fill: white;
        }

        .header-contact-us-button:hover .header-contact-us-button-icon-svg,
        .header-contact-us-button:hover .header-contact-us-button-text {
            fill: rgb(var(--identity-purple));
            color: rgb(var(--identity-purple));
        }

        
        /* estilizaões do botão de carrinho */
        .header-cart-button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 15px;
            gap: 15px;
            height: 43px;
            background-color: #fff ;
            outline: 2px white solid;
            outline-offset: -3px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: 400ms;
        }

        .header-cart-button .cart-button-text{
            font-family: Arial, Helvetica, sans-serif;
            color: #737373 ;
            font-weight: 700;
            font-size: 1em;
            transition: 400ms;
        }

        .header-cart-button svg path {
            transition: 400ms;
            fill: #737373;
        }

        .header-cart-button:hover {
            background-color: rgb(var(--identity-purple));
            border: 0;
            outline: rgb(var(--identity-purple));
        }


/* Rodapé */
.footer {
    background-color: #f1f1f1;
    color: #333;
    padding-top: 50px;
}

.footer-logo {
    width: 215px;
    margin-top: -18px;
}

.footer-insta-logo{
    width: 45px;
    margin-top: 7px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 5px;
}

.footer-section h3 {
    color: rgb(var(--identity-green));
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #333;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-social a {
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #e9e9e9;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 5px 0;
}

.footer-bottom a {
    background: linear-gradient(to right, #99b420, rgb(var(--identity-purple)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 1000;
}

.whatsapp-button img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.3s;
}

.whatsapp-button img:hover {
    transform: scale(1.1);
}




/*
 *  -------------------------------------------
 *  aqui ficam estilizaçoes de todas as paginas
 *  -------------------------------------------
*/

/* HOME */

/* main */

/* swiper (carroussel) */

main {
    font-family: Lexana, Arial, Helvetica, sans-serif;
    padding-top: 100px;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slide .mobile-banner {
    height: 470px;
}
.mobile-banner{
    display: none;
}


/* navegação por categorias */
.home-site-section{
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    color: #333;
}
.home-site-section h1 {
    margin-bottom: 40px;
    font-size: 35px;
}
.category-navigation {
    justify-content: center;
    text-align: center;
    overflow-x: auto;
    padding-top: 20px;
}
.categories {
    display: flex;
    user-select: none;
    justify-content: center;
    gap: 40px;
}
.category p {
    pointer-events: none;
}
.category {
    text-align: center;
    transition: 0.2s ease;
    gap: 10px;
    margin-top: 10px;
    padding-top: -19px;
    pointer-events: none;
}
.category:hover img{
    margin: -10px 0 0 0;
    outline: 2px solid rgb(var(--identity-purple));
}
.category img {
    pointer-events:all;
}

.category img {
    outline: 2px solid rgb(var(--identity-green));
    width: 130px;
    height: 130px;
    max-width: fit-content;
    transition: .2s ease;
    border-radius: 50%;
    border: 2px solid #e0e0e0;
}
.pagination {
    margin-top: 10px;
}


/* Seção Galeria */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -60px;
    margin-top: 130px;
}

.gallery-column {
    flex: 1; /* Ajusta a largura das colunas */
    margin: 15px; /* Espaçamento entre colunas */
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.image-container {
    margin: 20px 0; /* Espaçamento entre imagens */
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    margin: 0 10px; /* Adiciona margem lateral */
    position: relative;
    
}

.image-container img {
    object-fit: cover;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    max-width: 250px;
    width: 250px;
    margin-bottom: 30px;
    transition: .3s ease;
}

.image-container img:hover {
    filter: sepia(0.8)
}


/* estilos para cada primeira imagem de cada coluna */

/* Primeira imagem da primeira coluna */
.gallery-column:nth-of-type(1) .image-container:first-child img {
    height: 340px;
}

/* Primeira imagem da segunda coluna */
.gallery-column:nth-of-type(2) .image-container:first-child img {
    height: 200px;
}

/* Primeira imagem da terceira coluna */
.gallery-column:nth-of-type(3) .image-container:first-child img {
    height: 250px;
}

/* Primeira imagem da quarta coluna */
.gallery-column:nth-of-type(4) .image-container:first-child img {
    height: 300px;
}

/* Ativa o fade-in */
.image-container.visible {
    opacity: 1;
    transform: translateY(0);
}



/* PRODUTOS */

.product-section {
    padding: 100px 20px;
    text-align: center;
    background-color: #ececec;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.product-section h2 {
    font-size: 2em;
    margin-bottom: 35px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.product-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px; /* Reduzido para deixar o card menor */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra mais sutil */
    transition: none; /* Removido efeito de hover */
    max-width: 250px; /* Limita a largura do card */
    margin: 0 auto; /* Centraliza o card */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-card h3 {
    font-size: 1.2em; /* Tamanho da fonte reduzido */
    margin: 10px 0;
    color: rgb(var(--identity-green));
}

.product-card p {
    color: #555;
}

.price {
    font-weight: bold;
    color: rgb(var(--identity-purple));
}

.add-to-cart {
    background-color: rgb(var(--identity-green));
    color: #fff;
    border: none;
    padding: 8px 12px; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 25px;
}

.add-to-cart:hover {
    background-color: rgb(var(--identity-purple));
}




/* MAPA */

.home-map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-map h1 {
    font-size: 35px;
    margin-bottom: 40px;
}



