@font-face {
    font-family: 'Malmont';
    src: url('../assets/fonts/Malmont\ Regular.otf') format('woff2'),
         url('../assets/fonts/Malmont\ Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

#logo-text-bem {
    font-family: Malmont, Arial, Helvetica, sans-serif;
}